{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-nested-ternary": "off",
    "linebreak-style": "off",
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    "react/prop-types": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "no-param-reassign": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "consistent-return": "off",
    "react/function-component-definition": "off",
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "import/no-unresolved": [
      0,
      {
        "ignore": [
          "*.svg?url"
        ]
      }
    ]
  },
  "ignorePatterns": [
    "bundle",
    "webpack.config.js",
    "webpack.config.ts",
    "node_modules"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "globals": {
    "React": true
  }
}