@import '../../../scss/mixins';
@import '../../../scss/colors';

.card {
  width: 100%;

  @include flex-builder(column, flex-start, flex-start);

  padding: 24px;
  outline: 1px solid $dark-grey;
  transition: all .05 ease-in-out;

  &:hover {
    z-index: 1;
    outline-color: $blue;
  }

  &:active {
    outline-color: $blue-active;
  }
}

.iconButtonsBlock {
  align-self: flex-end;
  margin-bottom: 10px;
  gap: 12px;

  @include flex-builder(row, flex-start, center);
}

.iconButton {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  fill: rgb(194 203 211);
  transition: all .05 ease-in-out;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $dark-blue;
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.spinner {
  width: 50%;
  height: 50%;
  fill: $blue;
}

.imageLink {
  width: 100%;

  @include flex-builder(row, center, center);

  margin-bottom: auto;
}

.image {
  width: 100%;
  max-width: 180px;
}

.textLink {
  padding-top: 30px;
}

.priceAndCartBlock {
  width: 100%;
  margin-top: 24px;

  @include flex-builder(row, space-between, center);
}

.oldPrice {
  color: $blue;
  font-family: Onest, sans-serif;
  font-size: 14px;
  text-decoration: line-through;
}

.price {
  color: $black;
  font-family: Onest, sans-serif;
  font-size: 20px;
  font-weight: 800;
  gap: 6px;

  @include flex-builder(row, flex-start, center);
}

.priceSpan {
  font-size: 16px;
  font-weight: 400;
}

.cartButton {
  width: 48px;
  height: 48px;
}

.cartIcon {
  width: 24px;
  height: 24px;
  fill: $white;
}

// longCard

.longCard {
  display: grid;
  width: 100%;
  padding: 32px;
  grid-template-columns: 212px 32px 1fr 84px 220px;
  outline: 1px solid $dark-grey;
  transition: all .05 ease-in-out;

  &:hover {
    z-index: 1;
    outline-color: $blue;
  }

  &:active {
    outline-color: $blue-active;
  }
}

.longImageLink {
  width: 100%;

  @include flex-builder(row, center, center);
}

.longImage {
  width: 100%;
  max-width: 140px;
}

.nameAndIconButtons {
  width: 100%;
  grid-column: 3/4;

  @include flex-builder(column, space-between, flex-start);
}

.longIconButtonsBlock {
  @include flex-builder(row, flex-start, center);

  gap: 12px;
}

.longPriceAndCartBlock {
  width: 100%;
  grid-column: 5/6;

  @include flex-builder(column, space-between, flex-start);
}

.longCartButton {
  width: 100%;
  height: 48px;
}