@import '../../../scss/mixins';
@import '../../../scss/colors';

.card {
  width: 100%;

  @include flex-builder(column, flex-start, flex-start);

  padding: 7.38%;
  outline: 1px solid $dark-grey;
  transition: all .05s ease-in-out;

  &:hover {
    z-index: 1;
    outline-color: $blue;
  }

  &:active {
    outline-color: $blue-active;
  }

  @include media-s {
    width: 50%;
    padding: 3%;
  }
}

.iconButtonsBlock {
  align-self: flex-end;
  margin-bottom: 10px;
  gap: 12px;

  @include flex-builder(row, flex-start, center);
}

.iconButton {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  fill: rgb(194 203 211);
  transition: all .05 ease-in-out;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $dark-blue;
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.spinner {
  width: 50%;
  height: 50%;
  fill: $blue;
}

.imageLink {
  width: 100%;
  height: 240px;

  @include flex-builder(row, center, center);

  @media (max-width: 1600px) {
    height: 220px;
  }

  @media (max-width: 1250px) {
    height: 200px;
  }
}

.image {
  width: 100%;
  max-width: 180px;
  max-height: 240px;

  @media (max-width: 1600px) {
    max-width: 160px;
    max-height: 220px;
  }

  @media (max-width: 1250px) {
    max-width: 140px;
    max-height: 200px;
  }
}

.textLink {
  padding-top: 30px;
  margin-bottom: auto;

  @media (max-width: 1250px) {
    padding-top: 20px;
  }

  @include media-xs {
    font-size: 14px;
  }
}

.priceAndCartBlock {
  width: 100%;
  margin-top: 24px;

  @include flex-builder(row, space-between, center);
}

.oldPrice {
  color: $blue;
  font-family: Onest, sans-serif;
  font-size: 14px;
  text-decoration: line-through;
}

.price {
  color: $black;
  font-family: Onest, sans-serif;
  font-size: 20px;
  font-weight: 800;
  gap: 6px;

  @include flex-builder(row, flex-start, center);

  @include media-xs {
    font-size: 18px;
  }
}

.priceSpan {
  font-size: 16px;
  font-weight: 400;
}

.cartButton {
  width: 48px;
  height: 48px;

  @include media-xs {
    width: 40px;
    height: 40px;
  }
}

.cartIcon {
  width: 24px;
  height: 24px;
  fill: $white;

  @include media-xs {
    width: 18px;
    height: 18px;
  }
}

// longCard

.longCard {
  display: grid;
  width: 100%;
  padding: 3.29%;
  grid-template-columns: 21.81% 3.29% 1fr 8.64% 22.63%;
  outline: 1px solid $dark-grey;
  transition: all .05s ease-in-out;

  @include media-l {
    grid-template-columns: 21.81% 6.29% 1fr 5.64% 22.63%;
  }

  @include media-s {
    grid-template-columns: 21.81% 6.29% 1fr 3.64% 22.63%;
  }

  &:hover {
    z-index: 1;
    outline-color: $blue;
  }

  &:active {
    outline-color: $blue-active;
  }
}

.longImageLink {
  width: 100%;

  @include flex-builder(row, center, center);
}

.longImage {
  width: 100%;
  max-width: 140px;
}

.nameAndIconButtons {
  width: 100%;
  grid-column: 3/4;

  @include flex-builder(column, space-between, flex-start);

  @include media-s {
    gap: 50px;
  }
}

.longIconButtonsBlock {
  @include flex-builder(row, flex-start, center);

  gap: 12px;
}

.longPriceAndCartBlock {
  width: 100%;
  grid-column: 5/6;

  @include flex-builder(column, space-between, flex-start);
}

.longCartButton {
  width: 100%;
  height: 48px;
}