@import '../../../scss/mixins';
@import '../../../scss/colors';

.button {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;
  fill: $blue;
  transition: all .05s ease-in-out;

  @include flex-builder(row, center, center);

  &:hover {
    background-color: $white-hover;
    fill: $dark-blue;
  }

  &:active {
    background-color: $white-active;
    fill: $blue-active;
  }

  &_inactive {
    background-color: $white-inactive;
    pointer-events: none;

    &:hover {
      background-color: $white-inactive;
    }

    &:active {
      background-color: $white-inactive;
    }
  }
}

.arrow {
  width: 24px;
  height: 24px;

  &_right {
    transform: rotate(180deg);
  }
}