@import '../../../scss/colors';
@import '../../../scss/mixins';

.filtersBlock {
  display: none;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 16px;
  border-top: 1px solid $dark-grey;
  margin-bottom: 24px;
  gap: 8px;
  grid-column: 1/4;

  &_active {
    @include flex-builder(row, flex-start, center);
  }
}

.button {
  padding: 9px 12px;
  border: none;
  border-radius: 4px;
  background: $blue;
  color: $white;
  cursor: pointer;
  fill: rgb(255 255 255 / 50%);
  font-family: Onest, sans-serif;
  font-size: 16px;
  gap: 8px;
  transition: all .05s ease-in-out;

  @include flex-builder(row, flex-start, center);

  &:hover {
    background: $dark-blue;
  }

  &:active {
    background: $blue-active;
  }

  &_grey {
    background: $grey;
    color: $black;
    fill: rgb(135 140 158);

    &:hover {
      background-color: $dark-grey;
    }
  }
}

.icon {
  width: 12px;
  height: 12px;
}