@import '../../../scss/mixins';
@import '../../../scss/colors';

.popupBackdrop {
  @include flex-builder(row, center, center);
}

.popup {
  position: relative;
  width: 100%;
  max-width: 750px;
  padding: 48px;
  border-radius: 4px;
  background: $white;

  @include media-s {
    padding: 5%;
  }

  @include media-m {
    width: 85%;
  }

  @include media-xs {
    width: 93%;
    padding-top: 44px;
  }
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.crossIcon {
  width: 100%;
  height: 100%;
}