@import '../../../scss/colors';
@import '../../../scss/mixins';

.category {
  padding: 8.57% 7.62% 7.62%;
  border-radius: 4px;
  background-color: $light-blue;
  gap: 24px;

  @include flex-builder(column, flex-start, flex-start);

  @media (max-width: 1600px) {
    padding: 8% 7% 7%;
  }

  @include media-l {
    padding: 7% 6% 6%;
    gap: 18px;
  }
}

.imageLink {
  position: relative;
  width: 100px;
  height: 100px;
}

.figureImg {
  width: 100%;
  height: 100%;
}

.productImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  fill: $blue;
  transform: translate(-50%, -50%);
}

.additionalLinkList {
  @include flex-builder(row, flex-start, center);

  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.additionalLinkListElement {
  padding: 7px 12px;
  border-radius: 4px;
  background-color: $white;
  color: $black;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $dark-blue;
  }
}

.additionalLink {
  color: inherit;
  font-family: Onest, sans-serif;
  font-size: 14px;
  text-decoration: none;
  transition: all .05s ease-in-out;
}