@import '../../scss/mixins';
@import '../../scss/colors';

.main {
  margin-top: 68px;
  margin-bottom: 160px;

  @include flex-builder(column, flex-start, flex-start);

  @media (max-width: 1600px) {
    margin-bottom: 140px;
  }

  @include media-l {
    margin-bottom: 120px;
  }

  @include media-m {
    margin-bottom: 100px;
  }

  @include media-s {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  @include media-xs {
    margin-top: 40px;
  }
}

.title {
  margin-bottom: 48px;
  text-transform: uppercase;
}

.subcategories {
  display: grid;
  width: 100%;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);

  @include media-l {
    max-width: 800px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-m {
    max-width: 580px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-xs {
    max-width: 300px;
    grid-template-columns: 1fr;
  }
}

.spinnerBlock {
  width: 100%;
  height: 100px;
  @include flex-builder(row, center, center);
  grid-column: 1/5;

  @include media-l {
    grid-column: 1/4;
  }

  @include media-m {
    grid-column: 1/3;
  }

  @include media-xs {
    grid-column: 1/2;
  }
}