@import '../../../scss/colors';
@import '../../../scss/mixins';

.menu {
  position: fixed;
  z-index: 100;
  left: 0;
  display: grid;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  column-gap: 2.45%;
  grid-template-columns: 240px 1fr 25.35%;
  transform: translateY(-100%);
  transition: transform .5s ease-in-out;

  @include media-l {
    padding-top: 25px;
    padding-bottom: 25px;
    grid-template-columns: 210px 1fr 25.35%;
  }

  @include media-m {
    position: absolute;
    max-width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: none;
    gap: 0;
    transform: translateX(-100%);

    @include flex-builder(column, flex-start, flex-start);
  }

  @include media-s {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include media-xs {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &_open {
    transform: translateY(0);

    @include media-m {
      transform: translateX(0);
    }
  }
}

.iconLinkBlock {
  width: 100%;
  max-width: 210px;
  padding-left: 1.32%;
  margin-bottom: 25px;
  grid-column: 1/4;

  @include media-m {
    margin-bottom: 60px;
  }
}

.iconLinkList {
  @include flex-builder(row, flex-start, center);

  gap: 25px;
  list-style: none;
}

.openLoginPopupBtn {
  @include flex-builder(row, center, center);

  width: 24px;
  height: 24px;
  border: none;
  background: none;
  fill: $blue;
  transition: all .05s ease-in-out;

  &:hover {
    fill: $dark-blue;
  }

  &:active {
    fill: $blue-active;
  }
}

.iconLink {
  display: block;
  width: 24px;
  height: 24px;
  fill: $blue;
  transition: all .05s ease-in-out;

  &:hover {
    fill: $dark-blue;
  }

  &:active {
    fill: $blue-active;
  }
}

.iconInLink {
  width: 100%;
  height: 100%;
}

.iconLinkWithCircle {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 19px;
    height: 19px;
    border: solid 2px $light-blue;
    border-radius: 50%;
    background-color: $yellow;
    color: $black;
    content: attr(data-before);
    font-family: Onest, sans-serif;
    font-size: 10px;
    font-weight: 500;
    transform: translate(50%, -50%);

    @include flex-builder(row, center, center);
  }
}

.mainLinkBlock {
  width: 100%;
  max-height: 480px;
  border-right: 1px solid $dark-grey;

  @include media-m {
    max-height: 100%;
    border: none;
  }
}

.mainLinkList {
  width: 100%;
  gap: 4px;
  list-style-type: none;

  @include flex-builder(column, flex-start, stretch);

  @include media-m {
    gap: 18px;
  }
}

.mainLink {
  width: 100%;
  height: 48px;
  padding: 0 6.7%;
  color: $black;
  font-family: Onest, sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .05s ease-in-out;

  @include flex-builder(row, flex-start, center);

  &:hover { 
    background-color: $grey;
  }

  &_active { 
    background-color: $grey;
  }
}

.additionalLinkList {
  display: grid;
  gap: 12px 5%;
  grid-template-columns: auto auto;
  list-style: none;
 
  @media(max-width: 1405px) {
    justify-content: space-between;
  }

  @include media-l {
    gap: 15px 5%;
  }
}

.popularBlock {
  @include flex-builder(column, flex-start, flex-start);

  gap: 16px;
}

.popularTitle {
  text-transform: uppercase;
}

.productCard {
  @include flex-builder(column, flex-start, flex-start);

  padding: 24px 0;
  border: 1px solid $dark-grey;
  gap: 37px;

  @include media-l {
    padding: 18px 0;
    gap: 20px;
  }
}

.imgLink {
  width: 100%;

  @include flex-builder(row, center, center);
}

.productCardImgSpinner {
  width: 75px;
  height: 75px;
  fill: $blue;
}

.productImg {
  width: 50%;
}

.nameAndPriceBlock {
  padding: 0 24px;

  @include flex-builder(column, flex-start, flex-start);

  gap: 48px;  
}

.priceBlock {
  font-family: Onest, sans-serif;
}

.oldPrice {
  color: $blue;
  font-size: 14px;
  text-decoration: line-through;
}

.actualPrice {
  color: $black;
  font-size: 24px;
  font-weight: 800;

  @include flex-builder(row, center, center);
}

.actualPriceSpan {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
}

.catalogButton {
  border: none;
  background-color: transparent;
  color: $black;
  cursor: pointer;
  fill: $black;
  font-family: Onest, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all .05s ease-in-out;

  @include flex-builder(row, flex-start, center);

  &:hover {
    color: $blue;
    fill: $blue;
  }

  &:active {
    color: $dark-blue;
    fill: $dark-blue;
  }
}

.catalogButtonChevron {
  height: 18px;
  margin-left: 25px;
  transform: rotate(180deg);
}

.locationAndTelBlock {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 10px 24px;

  @include flex-builder(row, flex-start, center);
}

.linkWithIcon {
  @include flex-builder(row, flex-start, center);

  flex-shrink: 0;
  color: $black;
  fill: $blue;
  gap: 8px;
  text-decoration: none;
  transition: all .05s ease-in-out;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $dark-blue;
    fill: $dark-blue;
  }
}