@import '.././../scss/mixins';
@import '.././../scss/colors';

.main {
  margin-top: 68px;
  margin-bottom: 160px;

  @include flex-builder(column, flex-start, flex-start);

  @media (max-width: 1600px) {
    margin-bottom: 140px;
  }

  @include media-l {
    margin-bottom: 120px;
  }

  @include media-m {
    margin-bottom: 100px;
  }

  @include media-s {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  @include media-xs {
    @include flex-builder(column, flex-start, center);

    margin-top: 40px; 
  }
}

.title {
  text-transform: uppercase;
}

.additionalButtonsBlock {
  width: 23.85%;
  align-self: flex-end;
  margin-top: 24px;
  margin-bottom: 34px;

  @include flex-builder(row, space-between, center);

  @media (max-width: 1800px) {
    width: 26.85%;
  }

  @media (max-width: 1600px) {
    width: 27.85%;
  }

  @include media-l {
    width: 29.85%;
  }

  @media (max-width: 1250px) {
    margin-bottom: 28px;
  }

  @media (max-width: 1100px) {
    width: 30.85%;
  }

  @include media-m {
    width: 40%;
    max-width: 270px;
  }

  @include media-s {
    width: 43%;
    max-width: 240px;
    margin-bottom: 24px;
  }

  @include media-xs {
    width: 100%;
    max-width: 350px;
    flex-wrap: wrap;
    margin: 0;
    gap: 10px;
  }
}

.iconButton {
  border: none;
  background: none;
  color: $text-grey;
  cursor: pointer;
  fill: rgb(194 203 211);
  font-family: Onest, sans-serif;
  font-size: 16px;
  gap: 8px;
  transition: all .05s ease-in-out;

  @include flex-builder(row, flex-start, center);

  &:hover {
    color: $blue;
    fill: $blue;
  }

  &:active {
    color: $dark-blue;
    fill: $dark-blue;
  }

  &_active {
    color: $blue;
    fill: $blue;

    &:hover {
      color: $dark-blue;
      fill: $dark-blue;
    }

    &:active {
      color: $blue-active;
      fill: $blue-active;
    }
  }

  @media (max-width: 1250px) {
    font-size: 14px;
  }

  @include media-s {
    font-size: 12px;
  }

  @include media-xs {
    font-size: 16px;
  }
}

.buttonIcon {
  width: 24px;
  height: 24px;

  @include media-s {
    width: 20px;
    height: 20px;
  }

  @include media-xs {
    width: 24px;
    height: 24px;
  }
}

.mainBlock {
  display: grid;
  width: 100%;
  margin-bottom: 80px;
  grid-template-columns: 1fr 9.4% 18.1% 7.56% 23.85%;

  @media (max-width: 1800px) {
    grid-template-columns: 1fr 7.4% 19.1% 3.56% 26.85%;
  }

  @media (max-width: 1600px) {
    grid-template-columns: 1fr 6.4% 20.1% 3.56% 27.85%;
  }

  @include media-l {
    grid-template-columns: 1fr 6.4% 22.1% 3.56% 29.85%;
  }

  @media (max-width: 1250px) {
    margin-bottom: 70px;
  }

  @media (max-width: 1100px) {
    grid-template-columns: 1fr 5% 24% 3.56% 30.85%;
  }

  @include media-m {
    gap: 40px 10%;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 180px auto;
  }

  @include media-s {
    margin-bottom: 60px;
    gap: 0 5%;
    grid-template-columns: 1fr 43%;
  }

  @include media-xs {
    width: 100%;
    max-width: 350px;
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 35px;
  }
}

.imageSliderBlock {
  width: 100%;

  @include flex-builder(row, flex-start, flex-start);

  gap: 14.9%;

  @media (max-width: 1600px) {
    gap: 10%;
  }

  @include media-l {
    @include flex-builder(column, flex-start, flex-start);

    flex-direction: column-reverse;
    gap: 5%;
  }

  @include media-m {
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  @include media-xs {
    grid-row: 1/2;
  }
}

.imagePaginationBlock {
  @include flex-builder(column, flex-start, center);

  gap: 12px;

  @include media-l {
    @include flex-builder(row, flex-start, center);
  }

  @include media-m {
    margin-top: 10%;
  }
}

.paginationBtn {
  width: 88px;
  height: 88px;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  transition: all .05s ease-in-out;

  @include flex-builder(row, center, center);

  &:hover {
    border-color: $blue;
  }

  &:active {
    border-color: $dark-blue;
  }

  &_active {
    border-color: $blue;

    &:hover {
      border-color: $dark-blue;
    }

    &:active {
      border-color: $blue-active;
    }
  }

  @media (max-width: 1600px) {
    width: 70px;
    height: 70px;
  }
}

.paginationBtnSpinner {
  width: 50%;
  height: 50%;
  fill: $blue;
}

.paginationBtnImg {
  width: 70%;
}

.slide {
  @include flex-builder(row, center, flex-start);

  width: 100%;
}

.galleryButton {
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.slideImgSpinner {
  width: 25%;
  height: 25%;
  margin-top: 20%;
  fill: $blue;
}

.slideImg {
  width: 100%;

  @include media-xs {
    max-width: 250px;
  }
}

.mainSpecsBlock {
  grid-column: 3/4;

  @include media-m {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @include media-s {
    margin-top: 20px;
  }

  @include media-xs {
    margin-top: 0;
    grid-column: 1/2;
  }
}

.mainSpecsTitle {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.mainSpecsList {
  margin-bottom: 24px;
  gap: 8px;
  list-style: none;

  @include flex-builder(column, flex-start, flex-start);
}

.mainSpec {
  @include flex-builder(row, flex-start, center);

  gap: 8px;
}

.priceAndCartBlock {
  align-self: flex-start;
  padding: 10.25%;
  border-radius: 4px;
  background: $light-blue;
  grid-column: 5/6;

  @media (max-width: 1600px) {
    padding: 8%;
  }

  @include media-m {
    width: 100%;
    padding: 5%;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @include media-xs {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.oldPrice {
  color: $blue;
  font-family: Onest, sans-serif;
  text-decoration: line-through;
}

.mainPriceBlock {
  @include flex-builder(row, flex-start, center);

  gap: 8px;
}

.discountBlock {
  align-self: flex-start;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: $yellow;
  color: $black;
  font-family: Onest, sans-serif;
  font-size: 16px;
  transform: translateY(-50%);
}

.cartBtnAndBannerBlock {
  position: relative;
  width: 100%;
}

.cartButton {
  width: 100%;
  height: 60px;
  margin-top: 32px;
  font-size: 16px;

  @media (max-width: 1100px) {
    height: 48px;
    margin-top: 24px;
    font-size: 14px;
  }
}

.tabList {
  width: 100%;
  border-bottom: 1px solid $dark-grey;

  @include flex-builder(row, flex-start, center);

  gap: 32px;
}

.tabButtonLine {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
  width: 100%;
  height: 2px;
  background: $blue;

  &_active {
    display: block;
  }
}

.tabButton {
  position: relative;
  padding-right: 15px;
  padding-bottom: 22px;
  padding-left: 15px;
  border: none;
  background: none;
  color: $black;
  cursor: pointer;
  font-family: Onest, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all .05s ease-in-out;

  @include media-xs {
    padding-bottom: 18px;
    font-size: 16px;
  }

  &:hover .tabButtonLine {
    display: block;
  }
}

.tabPanelsAndBannerBlock {
  display: grid;
  width: 100%;
  margin-top: 60px;
  gap: 9.48%;
  grid-template-columns: 1fr 312px;

  @include media-l {
    gap: 7%;
    grid-template-columns: 1fr 29.4%;
  }

  @include media-m {
    gap: 80px;
    grid-template-columns: 1fr;
  }

  @include media-s {
    margin-top: 50px;
  }

  @include media-xs {
    margin-top: 40px;
  }
}

.tabPanel {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &_active {
    display: flex;
  }
}

.descriptionBlock {
  margin-bottom: 68px;

  @include media-m {
    width: 100%;
    max-width: 700px;
    align-self: center;
  }

  @include media-s {
    margin-bottom: 60px;
  }

  @include media-xs {
    margin-bottom: 50px;
  }
}

.descriptionSubtitle {
  margin-bottom: 16px;
  text-transform: uppercase;
}

.specsBlock {
  width: 100%;

  @include media-m {
    width: 100%;
    max-width: 700px;
    align-self: center;
  }
}

.specsTitle {
  margin-bottom: 24px;
  text-transform: uppercase; 
}

.specsList {
  gap: 20px;
  list-style: none;

  @include flex-builder(column, flex-start, flex-start);
}

.spec {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: 50% 50%;
}

.noCommentsBlock {
  width: 100%;
  padding-top: 70px;

  @include flex-builder(column, flex-start, center);

  @include media-m {
    padding-top: 50px;
  }

  @include media-s {
    padding-top: 40px;
  }
}

.noCommentsTextBlock {
  position: relative;
  text-align: center;
}

.noCommentsLine {
  position: absolute;
  top: -30px;
  left: -70px;
  width: 100px;
  height: auto;
  fill: $blue;

  @include media-l {
    top: -25px;
    left: -60px;
    width: 80px;
  }

  @include media-s {
    top: -20px;
    left: -55px;
    width: 70px;
  }

  @include media-xs {
    left: -40px;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.noCommentsText {
  margin-bottom: 7px;
  text-transform: uppercase;
}

.commentButton {
  width: 200px;
  height: 48px;
  margin-top: 20px;
  font-size: 16px;
}

.bannerBlock {
  align-self: flex-start;

  @include media-m {
    width: 100%;
    max-width: 312px;
    justify-self: center;
  }
}

.popupTitle {
  margin-bottom: 24px;
  text-transform: uppercase;
}

.popupForm {
  display: grid;
  width: 100%;
  gap: 36px 16px;
  grid-template-columns: 1fr 1fr;

  @include media-s {
    grid-template-columns: 1fr;
  }
}

.input {
  height: 56px;
  background-color: $light-blue;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    background-color: $white;
  }
}

.textareaBlock {
  grid-column: 1/3;

  @include media-s {
    grid-column: 1/2;
  }
}

.textarea {
  height: 180px;
  background-color: $light-blue;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    background-color: $white;
  }
}

.submitAndTermsBlock {
  gap: 34px;
  grid-column: 1/3;

  @include flex-builder(row, flex-start, center);

  @include media-s {
    gap: 5%;
    grid-column: 1/2;

    @include flex-builder(row, space-between, flex-start);
  }

  @include media-xs {
    @include flex-builder(column, flex-start, flex-start);

    gap: 20px;
  }
}

.submitButton {
  width: 162px;
  height: 60px;
  flex-shrink: 0;
  font-size: 16px;

  @include media-xs {
    width: 140px;
  }
}