@import '../../scss/colors';
@import '../../scss/mixins';

.headerWrapper {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  position: relative;
  z-index: 1000;
  display: grid;
  width: 100%;
  padding-top: 1.68%;
  padding-bottom: 1.68%;
  background: $light-blue;
  gap: 27px 5.2%;
  grid-template-columns: 14.5% 1fr;
  grid-template-rows: auto 56px;

  @media(max-width: 1800px) {
    gap: 27px 4%;
  }

  @media(max-width: 1600px) {
    gap: 27px 3%;
    grid-template-columns: 12% 1fr;
  }

  @include media-l {
    gap: 20px 3%;
  }

  @include media-m {
    align-items: center;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    column-gap: 3%;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 60px;
  }

  @include media-s {
    grid-template-columns: 1fr;
    grid-template-rows: 60px;
  }

  @include media-xs {
    grid-template-rows: 50px;
  }
}

.logoLink {
  width: 100%;
  height: 100%;
  fill: $blue;
  grid-row: 1/3;
  transition: all .05s ease-in-out;

  &:hover {
    fill: $dark-blue;
  }

  @include media-m {
    grid-row: 1/2;
  }

  @include media-s {
    grid-column: 2/3;

    @include flex-builder(row, center, center);
  }
}

.logoLinkImg {
  width: 100%;
  max-width: 190px;
  height: 100%;
  max-height: 107px;

  @include media-s {
    max-height: 60px;
  }

  @include media-xs {
    max-height: 50px;
  }
}

.topBlock {
  width: 100%;

  @include flex-builder(row, space-between, center);

  gap: 5%;

  @media(max-width: 1800px) {
    gap: 4%;
  }

  @media(max-width: 1600px) {
    gap: 3%;
  }

  @include media-l {
    @include flex-builder(row, flex-end, center);
  }
}

.locationAndTelBlock {
  @include flex-builder(row, flex-start, center);

  gap: 24px;

  @media(max-width: 1800px) {
    gap: 12px;
  }

  @media(max-width: 1405px) {
    gap: 10px;
  }
}

.linkWithIcon {
  @include flex-builder(row, flex-start, center);

  color: $black;
  fill: $blue;
  gap: 8px;
  text-decoration: none;
  transition: all .05s ease-in-out;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $dark-blue;
    fill: $dark-blue;
  }

  @media(max-width: 1405px) {
    gap: 6px;
  }
}

.linkListTopNav {
  @include media-l {
    width: 100%;
    max-width: 632px;
  }
}

.linkList {
  gap: 24px;
  list-style-type: none;

  @include flex-builder(row, flex-start, center);

  @media(max-width: 1800px) {
    gap: 12px;
  }

  @media(max-width: 1405px) {
    gap: 10px;
  }

  @include media-l {
    width: 100%;
    gap: 0;

    @include flex-builder(row, space-between, center);
  }
}

.bottomBlock {
  width: 100%;

  @include flex-builder(row, flex-start, center);

  @include media-m {
    height: 100%;

    @include flex-builder(row, space-between, center);
  }

  @include media-s {
    display: grid;
    gap: 3%;
    grid-template-columns: 60px 10% 1fr auto;
  }

  @include media-xs {
    gap: 5%;
    grid-template-columns: 45px 13% 1fr auto;
  }
}

.openMenuButton {
  width: 16.57%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
  margin-right: 2.29%;
  background-color: $white;
  color: $black;
  cursor: pointer;
  font-family: Onest, sans-serif;
  font-size: 18px;
  font-weight: 800;
  gap: 9.2%;
  stroke: $black;
  text-transform: uppercase;
  transition: all .05s ease-in-out;

  @include flex-builder(row, center, center);

  &:hover {
    background-color: $white-hover;
  }

  &:active {
    background-color: $white-active;
  }

  @media(max-width: 1800px) {
    margin-right: 1.5%;
  }

  @media(max-width: 1600px) {
    margin-right: 1%;
    gap: 5%;
  }

  @include media-l {
    width: 19.4%;
    margin-right: 2%;
  }

  @include media-m {
    @include flex-builder(row, space-around, center);

    width: 16%;
    font-size: 16px;
  }

  @include media-s {
    width: 100%;
  }

  @include media-xs {
    width: 45px;
    height: 45px;
  }

  &_active {
    border-color: $blue;
    background-color: transparent;
    color: $blue;
    stroke: $blue;

    &:hover {
      background-color: $dark-grey;
    }
  }
}

.burger {
  width: 35px;
  height: 35px;

  @include media-s {
    width: 40px;
    height: 40px;
  }

  @include media-xs {
    width: 35px;
    height: 35px;
  }
}

.burgerLine {
  fill: none;
  stroke-width: 8;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

  &_1 {
    stroke-dasharray: 60 207;
    stroke-width: 8;

    &_active {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 8;
    }
  }

  &_2 {
    stroke-dasharray: 60 60;
    stroke-width: 8;

    &_active {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 8;
    }
  }

  &_3 {
    stroke-dasharray: 60 207;
    stroke-width: 8;

    &_active {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 8;
    }
  }
}

.inputBlock {
  position: relative;
  width: 54.7%;
  height: 100%;
  margin-right: auto;

  @include flex-builder(row, center, center);

  @media(max-width: 1800px) {
    margin-right: 2%;
  }

  @media(max-width: 1600px) {
    margin-right: 1.5%;
  }

  @include media-l {
    width: 100%;
    max-width: 520px;
    margin-right: 2%;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding-right: 116px;
  background-color: $dark-grey;

  &:hover {
    background-color: rgb(212 218 224);
  }

  &:focus {
    background-color: $white;
  }

  @include media-s {
    padding-right: 47px;
  }

  @include media-s {
    padding-right: 43px;
  }
}

.submitButton {
  position: absolute;
  right: 16px;
  width: 92px;
  height: 40px;
}

.submitButtonWithIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 27px;
  border: none;
  background: none;
  cursor: pointer;
  fill: $blue;
  transform: translateY(-50%);
  transition: all .05s ease-in-out;

  @include media-xs {
    width: 24px;
  }

  &:hover {
    fill: $dark-blue;
  }

  &:active {
    fill: $blue-active;
  }
}

.submitButtonIcon {
  width: 100%;
  height: auto;
}

.iconLink {
  display: block;
  width: 24px;
  height: 24px;
  fill: $blue;
  transition: all .05s ease-in-out;

  &:hover {
    fill: $dark-blue;
  }

  &:active {
    fill: $blue-active;
  }

  @include media-m {
    width: 30px;
    height: 30px;
  }

  @include media-s {
    width: 28px;
    height: 28px;
  }
}

.iconInLink {
  width: 100%;
  height: 100%;
}

.iconLinkWithCircle {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 19px;
    height: 19px;
    border: solid 2px $light-blue;
    border-radius: 50%;
    background-color: $yellow;
    color: $black;
    content: attr(data-before);
    font-family: Onest, sans-serif;
    font-size: 10px;
    font-weight: 500;
    transform: translate(50%, -50%);

    @include flex-builder(row, center, center);
  }
}

.price {
  margin-left: 20px;

  @include media-l {
    flex-shrink: 0;
    margin-left: 2%;
  }
}

.backdrop {
  position: fixed;
  z-index: 10;
  background: rgb(9 31 58 / 76%);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-in-out;

  &_active {
    opacity: 1;
    pointer-events: all;
  }
}