@import '.././../scss/mixins';
@import '.././../scss/colors';

.main {
  margin-top: 68px;
  margin-bottom: 160px;

  @media (max-width: 1600px) {
    margin-bottom: 140px;
  }

  @include media-l {
    margin-bottom: 120px;
  }

  @include media-m {
    margin-bottom: 100px;
  }

  @include media-s {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  @include media-xs {
    margin-top: 40px; 
  }
}

.title {
  margin-bottom: 48px;
  text-transform: uppercase;
}

.newsPreviews {
  display: grid;
  gap: 90px 24px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 865px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
  }

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }

  &_inactive {
    opacity: 0.5;
    pointer-events: none;
  }
}

.paginationBlock {
  margin-top: 120px;

  @include media-l {
    margin-top: 90px;
  }

  @media (max-width: 865px) {
  margin-top: 70px;
  }
}