@import '../../scss/colors';
@import '../../scss/mixins';

.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(9 31 58) url('./images/bg.png') top left 0 no-repeat;

  @include flex-builder(column, flex-start, flex-start);

  @include media-s {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include media-xs {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.mainBlock {
  display: grid;
  width: 100%;
  padding-bottom: 58px;
  grid-template-columns: 14.6% 17.98% 31.35% 3.67% 32.4%;
  row-gap: 95px;

  @media(max-width: 1800px) {
    grid-template-columns: 14.6% 15.98% 29.35% 3.67% 36.4%;
  }

  @include media-l {
    grid-template-columns: 16.6% 8.98% 29.35% 4.67% 40.4%;
    row-gap: 70px;
  }

  @include media-m {
    padding-bottom: 50px;
    grid-template-columns: 19.1% 8.38% 19.35% 4.67% 48.4%;
    row-gap: 60px;
  }

  @include media-s {
    padding-bottom: 40px;
    gap: 50px 7%;
    grid-template-columns: 30% 1fr;
  }

  @include media-xs {
    gap: 40px 5%;
    grid-template-columns: 40% 1fr;
  }
}

.logoLink {
  width: 100%;

  @include media-s {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @include media-xs {
    grid-column: 1/2;
    grid-row: 2/3;

    @include flex-builder(row, center, flex-start);
  }
}

.logo {
  @include media-s {
    width: 100%;
    max-width: 180px;
  }
}

.mainLinkBlock {
  grid-column: 3/4;

  @include media-s {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  @include media-xs {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
  }
}

.mainLinkList {
  gap: 16px;
  list-style-type: none;

  @include flex-builder(column, flex-start, flex-start);
}

.link {
  color: $white;
  font-family: Onest, sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .05s ease-in-out;

  &:hover {
    color: rgb(131 143 156);
  }

  &:active {
    color: rgb(102 112 122);
  }

  &Big {
    font-size: 28px;

    @include media-l {
      font-size: 26px;
    }

    @include media-m {
      font-size: 24px;
    }

    @include media-s {
      font-size: 22px;
    }

    @include media-xs {
      font-size: 20px;
    }
  }

  &Small {
    font-size: 12px;
  }
}

.subscribeForm {
  grid-column: 5/6;

  @include media-s {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @include media-xs {
    width: 100%;
    max-width: 400px;
    grid-column: 1/3;
    justify-self: center;
  }
}

.inputBLock {
  position: relative;
  margin-top: 24px;

  &::before {
    position: absolute;
    bottom: -8px;
    left: 0;
    display: block;
    color: $invalid-text;
    content: attr(data-error-message);
    font-family: Onest, sans-serif;
    font-size: 16px;
    transform: translateY(100%);
  }
}

.input {
  width: 100%;
  height: 56px;
  padding-right: 167px;
  background-color: rgb(45 64 87);

  @include media-m {
    padding-right: 143px;
  }

  &:hover {
    background-color: rgb(55 74 97);
  }

  &:focus {
    background-color: $white;
  }
}

.subscribeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 143px;
  height: 40px;
  font-size: 14px;

  @include media-m {
    width: 120px;
    font-size: 12px;
  }
}

.address {
  grid-column: 3/4;

  @include media-m {
    grid-column: 1/4;
  }

  @include media-s {
    grid-column: 2/3;
  }

  @include media-xs {
    padding-left: 10%;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.contactBlock {
  grid-column: 5/6;

  @include flex-builder(column, flex-start, flex-start);

  @include media-m {
    text-align: end;

    @include flex-builder(column, flex-start, flex-end);
  }

  @include media-s {
    grid-column: 2/3;

    @include flex-builder(column, flex-start, flex-start);
  }

  @include media-xs {
    padding-left: 10%;
    grid-column: 1/3;
    grid-row: 4/5;
  }
}

.additionalBlock {
  padding-top: 60px;
  border-top: 1px solid rgb(52 70 92);

  @include media-m {
    padding-top: 50px;
  }

  @include media-s {
    padding-top: 40px;
  }
}

.text {
  color: rgb(133 149 167);
}

.additionalLinkBlock {
  margin-top: 42px;
}

.additionalLinkList {
  gap: 24px;
  list-style-type: none;

  @include flex-builder(row, flex-start, flex-start);

  @include media-s {
    @include flex-builder(column, flex-start, center);
  }
}