@import '../../../../scss/mixins';
@import '../../../../scss/colors';

.form {
  overflow: hidden;
  width: 100%;
}

.titleButton {
  @include flex-builder(row, flex-start, center);

  border: none; 
  background: none;
  color: $black;
  cursor: pointer;
  fill: $black;
  gap: 8px;
  transition: all .05s ease-in-out;

  &:hover {
    color: $blue;
    fill: $blue;
  }

  &:active {
    color: $dark-blue;
    fill: $dark-blue;
  }
}

.title {
  font-size: 14px;
  text-transform: uppercase;
}

.chevron {
  width: 12px;

  &_transformed {
    transform: rotate(180deg);
  }
}

.content {
  margin-top: 29px;

  @include flex-builder(column, flex-start, stretch);

  gap: 29px;
}

.roundButtonBlock {
  position: relative;
}

.mainLine {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $dark-grey;
}

.activeLine {
  position: absolute;
  top: 0;
  display: block;
  height: 2px;
  background-color: $blue;
}

.roundButton {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: $blue;
  cursor: pointer;
  transform: translateY(-50%);

  &:hover {
    background-color: $dark-blue;
  }

  &:active {
    background-color: $blue-active;
  }
}

.inputBlock {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: 1fr auto 1fr;
}

.input {
  width: 100%;
  padding: 14px 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: $light-blue;
  color: $black;
  font-family: Onest, sans-serif;
  font-size: 16px;
  transition: all .05s ease-in-out;

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    border-color: $blue;
    background-color: $white;
    outline: none;
  }
}

.inputBlockSpan {
  color: $black;
  font-family: Onest, sans-serif;
  font-size: 16px;
}