@import '../../../scss/colors';
@import '../../../scss/mixins';

.oblique {
  width: 52px;
  height: 100%;
  fill: $blue;

  @include media-m {
    width: 38px;
  }

  @include media-s {
    width: 30px;
  }

  @include media-xs {
    width: 26px;
  }
}

.arrow {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: $black;

  @include media-m {
    margin-left: 10px;
  }

  @include media-s {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }

  @include media-xs {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }

  &_white {
    fill: $white;
  }
}

.link {
  height: 65px;
  color: $black;
  font-family: Onest, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .05s ease-in-out;

  @include flex-builder(row, flex-start, center);

  &:hover .oblique {
    fill: $dark-blue;
  }

  &:active .oblique {
    fill: $blue-active;
  }

  @include media-m {
    height: 48px;
  }

  @include media-s {
    height: 42px;
    font-size: 16px;
  }

  @include media-xs {
    height: 38px;
    font-size: 14px;
  }

  &_white {
    color: $white;

    &:hover {
      color: $white-hover;
    }

    &:hover .arrow_white {
      fill: $white-hover;
    }

    &:active {
      color: $white-active;
    }

    &:active .arrow_white {
      fill: $white-active;
    }
  }
}