$light-blue: rgb(232 239 245);
$blue: rgb(42 121 204);
$dark-blue: rgb(37 102 172);
$blue-active: rgb(30 82 138);
$black: rgb(14 25 46);
$white: rgb(255 255 255);
$white-hover: rgb(250 250 250);
$white-active: rgb(245 245 245);
$white-inactive: rgb(230 230 230);
$grey: rgb(232 239 245);
$dark-grey: rgb(216 225 234);
$text-grey: rgb(135 140 158);
$yellow: rgb(237 210 88);
$invalid-text: rgb(232 26 12);