@import '../scss/colors';

.link {
  color: $black;
  font-family: Onest, sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: all .05s ease-in-out;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $dark-blue;
  }

  &Fw800 {
    font-weight: 800;
  }

  &18px {
    font-size: 18px;
  }

  &21px {
    font-size: 21px;
  }

  &Blue {
    color: $blue;

    &:hover {
      color: $dark-blue;
    }

    &:active {
      color: $blue-active;
    }
  }
}