@import '../scss/colors';
@import '../scss/mixins';

.text {
  font-family: Onest, sans-serif;
  font-weight: 400;

  &Fw800 {
    font-weight: 800;
  }

  &13px {
    font-size: 13px;
  }

  &18px {
    font-size: 18px;
  }

  &48px {
    font-size: 48px;

    @include media-l {
      font-size: 44px;
    }

    @include media-m {
      font-size: 42px;
    }

    @include media-s {
      font-size: 40px;
    }

    @include media-xs {
      font-size: 38px;
    }
  }

  &White {
    color: $white;
  }

  &Black {
    color: $black;
  }
}