@import '../scss/colors';
@import '../scss/mixins';

.text {
  font-family: Onest, sans-serif;
  font-weight: 400;

  &Fw700 {
    font-weight: 700;
  }

  &Fw800 {
    font-weight: 800;
  }

  &13px {
    font-size: 13px;
  }

  &14px {
    font-size: 14px;
  }

  &18px {
    font-size: 18px;
  }

  &21px {
    font-size: 21px;
  }

  &24px {
    font-size: 24px;
  }

  &32px {
    font-size: 32px;
  }

  &36px {
    font-size: 36px;
  }

  &38px {
    font-size: 38px;
  }

  &48px {
    font-size: 48px;

    @include media-l {
      font-size: 44px;
    }

    @include media-m {
      font-size: 42px;
    }

    @include media-s {
      font-size: 40px;
    }

    @include media-xs {
      font-size: 38px;
    }
  }

  &White {
    color: $white;
  }

  &Black {
    color: $black;
  }

  &Grey {
    color: $text-grey;
  }
}