@import '../scss/colors';

.text {
  font-family: Onest, sans-serif;
  font-weight: 400;

  &Fw800 {
    font-weight: 800;
  }

  &13px {
    font-size: 13px;
  }

  &18px {
    font-size: 18px;
  }

  &White {
    color: $white;
  }
}